/* The body is changing the fonts and the background....it is targeting everything */
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #040405;
}

/* This is how to add an image to a hero...do not forget to use ../ to target
   an image in CSS */
#hero {
    background-image: url("../images/hulu-bg.jpeg");
    background-size: cover;
}

/* This is targeting the nav...the padding is giving it the size it needs, and the 
   linear-gradient is what is making it have a gradient from top to bottom */
nav {
    padding: 24px 36px;
    background: linear-gradient(to bottom, #000000DD, #00000000);
}

/*  This is targeting everything in the nav, allowing it to be straight and centered*/
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav img {
    width: 60px;
}

/* This is targeting the LOG IN button...it is giving it transition and decorating it.
   It is targeting NAV A because in HTML, within the <li>, it begins as an <a href> */
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(93, 92, 92);
}

/*  This is targeting the hero itself...it is setting itself up in a column like style */
#hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    color: #00ED82;
}

#hero_content p {
    color: white;
    font-size: 22px;
    text-align: center;
}

.button_link {
    display: inline-block;
    background-color: #00ED82;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    padding: 16px;
    border-radius: 6px;
    width: 670px;
    text-align: center;
    transition: opacity 0.5s;
}

.button_link:hover {
    opacity: 0.5;
}

.small_link,
.medium_link {
    color: white;
    display: inline-block;
}

.small_link {
    font-size: 14px;
    margin-top: 16px;
}

.medium_link {
    margin-top: 28px
}

footer {
    display: flex;
    align-items: center;
    padding: 12px 36px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer #footer_image_container {
    width: 250px;
}

footer img {
    width: 100%;
}

.clear_button_link {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 4px;
    transition:
        background-color 0.5s,
        color 0.5s;
}

.clear_button_link:hover {
    background-color: white;
    color: black;
}

.tiny_link {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

#footer_center {
    margin: 0px 24px;
    flex: 1;
}

#footer_center p {
    color: white;
    font-size: 22px;
}

#cards_section {
    text-align: center;
    margin-top: 90px;
}

/* This is how to target mutltiple things at once so it does not all need to be separate */
#cards_section h2,
#cards_section p,
#cards_section h6,
#cards_section h4 {
    color: white;
} 

/* This is targeting the h2 within the cards section...it is changing the font size and margin */
#cards_section h2 {
    font-size: 48px;
    margin-top: 0px;
}

/* This is targeting the paragraph within the cards section...it is changing the width + margin */
#cards_section p {
    width: 700px;
    margin: 0px auto;
}

/* This is targeting the cards container itself...using display: grid is placing everything
   in the grid patter, and everything beneath is laying it out */
#cards_container {
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-auto-rows: 450px;
    grid-gap: 24px;
    width: 1252px;
    margin: 60px auto;
    text-align: left;
}

/* This is targeting the cards container div...it is adding space in between 
   each card */
#cards_container div {
    padding-left: 24px;
}

/* This is targeting the h6 within all of the cards...note how it is targeting
   the container so it targets all cards instead of doing it individually */ 
#cards_container h6 {
    font-weight: normal;
    margin-bottom: 12px;
}

/* This is targeting the h4 within all of the cards...note how it is targeting 
   the container so it targets all cards instead of doing it individually */
#cards_container h4 {
    font-size: 22px;
    margin-top: 0px;
}

/* This is targeting the cards. It is adding the image and keeping them contained 
   by using the background size: contain...make sure when bringing in an image to 
   use the ../ in CSS */
#bobs_burgers {
    background-image: url("../images/bobsburgers.jpeg");
    background-size: contain;
}

#prey {
    background-image: url("../images/prey.jpeg");
    background-size: contain;
}

#handmaids_tale {
    background-image: url("../images/handmaidstale.jpeg");
    background-size: contain;
}

#dragon {
    background-image: url("../images/houseofdragon.jpeg");
    background-size: contain;
}

/* The media query is changing the layout of the page when viewed on a phone...
   it is targeting the button, footer, cards section, cards section p, 
   cards container, cards container div..whatever it is targeting is whatever it will
   change when viewed on a phone */

@media screen and (max-width: 768px) {
    .button_link {
        width: 80%;
    }
    footer {
        flex-direction: column;
        text-align: center;
        padding-bottom: 36px;
    }
    #cards_section {
        padding: 0px 24px;
    }
    #cards_section p {
        width: 100%;
    }
    #cards_container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
    }
    #cards_container div {
        background-repeat: no-repeat;
    }
}