#main {
    Background-color: #FF99CCF2;
    Padding: 30px;
}

#content {
    Background-color: #FF4DA6;
    Border: 5px solid #E60073;
    Color: WHITE;
    Padding: 15px;
    Margin: 15px 0px;
}

#content > div {
    Margin: 16px 0px
}

#quote_content {
    Margin-left: 48px;
}

#quote_citation {
    Margin-left: 72px;
}