.text_input label {
    display: block;
}

.text_input input {
    margin: 4px 0px 16px;
    padding: 12px;
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
}

#first_name_id {
    border: 0px;
    border-bottom: 4px solid blue;
    background-color: skyblue;
}

#first_name_id:focus-visible {
    outline: 0;
    background-color: lightblue;
}

#last_name_id {
    border: 5px solid lightgreen;
    border-radius: 24px;
    color: darkgreen;
}

#last_name_id:focus-visible {
    outline: 0px;
    background-color: darkgreen;
    color: white;
}

#code_feelings_id {
    width: 400px;
    height: 100px;
    margin-top: 4px;
    padding: 12px;
    font-family: verdana;
    font-size: 18px;
}

#bike_checkbox,
#rasp_radio {
    border: 5px solid aquamarine;
    padding: 24px;
    background-color:aqua;
    color:azure;
}

input[type=date] {
    padding: 12px;
    border: 3px dashed aquamarine;
    font-family: cursive;
    font-size: 24px;
    color: aqua;
}

select {
    color: aqua;
    font-size: 24px;
    font-family: cursive;
    border: 3px solid aquamarine;
    padding: 12px;
}

input[type=button] {
    border: 3px solid purple;
    border-radius: 6px;
    padding: 12px;
    margin-right: 12px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: lavender;
    color: gray;
}

input[type=reset] {
    border: 1px solid pink;
    border-radius: 6px;
    padding: 12px;
    margin-right: 12px;
    background: linear-gradient(to bottom, aquamarine, teal);
    color: black;
}

input[type=reset]:active {
    background: linear-gradient(to top, aquamarine, teal);
}

input [type=submit] {
    background: linear-gradient(to bottom, pink, red);
    border: 0px;
    border-radius: 8px;
    padding: 12px 48px;
    cursor: pointer;
}

input [type=submit]:hover {
    opacity: 0.9;
}

input[type=submit]:active {
    background: linear-gradient(to top, pink, red);
}