body {
    margin: 0px;
}

p {
    font-size: 32px;
    margin: 24px;
    height: 1000px;
}

#hero_1 {
    background-image: url("../images/03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 500px;
}

#hero_1 h1 {
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: cursive;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

#hero_2 {
    background-image: url("../images/cute-wallpaper-snoopy-and-woodstock.png");
    height: 80vh;
}

#hero_2 h2 {
    font-family: cursive;
    font-size: 60px;
}

#hero_2 h3 {
    font-family: cursive;
    font-size: 48px;
}

#hero_3 {
    background-image: url("../images/8278296.gif");
}

#hero_3 h2 {
    font-family: cursive;
    font-size: 60px;
    padding-top: 60px;
}

#hero_3 h3 {
    font-family: cursive;
    font-size: 48px;
    padding-bottom: 60px;
}